player-connection-mode=Listen
player-connection-guid=2653713761
player-connection-debug=0
player-connection-project-name=TheBunker1.0
player-connection-ip=169.254.150.105
player-connection-ip=192.168.56.1
player-connection-ip=10.100.102.232
player-connection-ip=100.121.111.94
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e760664c4a0f4fb384b005a1af16f0fc
